








body {
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
    width: 996px;
    height: 916px;
    background-color: #ffffff;

}

body img {
    height: 220px;
    width: 916px;
}

body header {
    background-color: none;
    color: #cc0000;
    text-align: center;
}

h1,h2,h3 {
    font-family: Asap, sans-serif;
    color: black;

}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

nav > a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 32px;
    font-family: serif;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li a {
    text-align: left;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: black;
}

body table tr {
    color: black;
}

body section p {
    text-align: center;

}