.texto {
    position: absolute;
    top: 26%;
    left: 7%;
    right: 0%;
    bottom: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.robo {
    position: absolute;
    left: 45%;
}

.google {
    width: 14%;
    position: absolute;
    top: 11%;
    left: 7%;
}

.titulo {
    position: absolute;
    top: 20%;
    left: 7%;
    right: 0%;
    bottom: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
